@tailwind base;
@tailwind components;
@tailwind utilities;

/* Main start*/
/* Header */
.navbar-fixed {
    @apply fixed z-[9999];
    /* backdrop-filter : blur(5px);
    box-shadow : inset 0 -1px 0 0 rgba(0,0,0,0.2); */
}

.right-nav {
    @apply flex items-center font-medium text-sm mx-2 group-hover:text-emerald-200;
}

.right-profile-show{
    @apply translate-y-[170px];
}

.hamburger-line {
    @apply w-[30px] h-[2px] my-2 block bg-white;
}

.hamburger-active > span:nth-child(1) {
    @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
    @apply scale-0;
}
.hamburger-active > span:nth-child(3) {
    @apply -rotate-45;
}

/*  Sidebar */
.nav-menu-show {
    @apply translate-x-full;
}
.nav-a {
    @apply flex items-center text-sm text-slate-700 py-1 group-hover:text-emerald-600;
}
.active {
    @apply text-emerald-600;
}
.nav-svg{
    @apply flex fill-current mr-2 w-4  ;
}
.svg-arrow {
    @apply flex fill-current w-2;
}

.is-invalid {
    @apply outline-red-500 border-red-500;
}

.invalid-feedback {
    @apply text-sm text-red-500;
}

/* Button */
.btn-primary {
    @apply p-2 w-max h-8 bg-teal-500 rounded-lg text-white hover:bg-teal-600 drop-shadow-md;
}

.btn-success {
    @apply p-2 w-max h-8 bg-green-700 rounded-lg text-white hover:bg-green-800 drop-shadow-md;
}

.btn-warning {
    @apply p-2 w-max h-8 bg-yellow-500 rounded-lg text-white hover:bg-yellow-600 drop-shadow-md;
}

.btn-danger {
    @apply p-2 w-max h-8 bg-red-600 rounded-lg text-white hover:bg-red-700 drop-shadow-md;
}

/* alert */
.alert-primary {
    @apply  text-teal-900 text-sm items-center rounded-lg border border-white bg-opacity-60 bg-teal-200 drop-shadow-xl shadow-inner w-max h-10 p-2;
}   

.alert-success {
    @apply  text-green-900 text-sm items-center rounded-lg border border-white bg-opacity-60 bg-green-200 drop-shadow-xl shadow-inner w-max h-10 p-2;
}

.alert-warning {
    @apply  text-yellow-700 text-sm items-center rounded-lg border border-white bg-opacity-60 bg-yellow-200 drop-shadow-xl shadow-inner w-max h-10 p-2;
}

.alert-danger {
    @apply  text-red-900 text-sm items-center rounded-lg border border-white bg-opacity-60 bg-red-200 drop-shadow-xl shadow-inner w-max h-10 p-2;
}
/* Main end*/

/* Form start*/
.input-area {
@apply ml-3 p-1 bg-white text-slate-600 rounded-md border;
}
/* Form end*/

/* index start */
.index-container {
    @apply flex relative h-screen w-max;
}
.index-title {
    @apply flex absolute p-2 w-full;
}
.index-btnAdd {
    @apply flex absolute mt-14 px-2 justify-end w-full;
}
.index-alert {
    @apply mt-12 flex absolute;
}
.index-table {
    @apply flex mt-24 p-2;
}
.index-tr {
    @apply w-full flex relative items-center text-sm text-cyan-800 border-t border-b m-auto h-10;
}
.index-td {
    @apply flex justify-center items-center;
}
.index-link {
    @apply flex items-center justify-center;
}
.index-h1 {
    @apply flex text-xl text-cyan-800 font-bold tracking-wider border-b w-full py-1;
}
/* index end */
